@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Nav styles */
.nav1{
    display: flex;
}
.nav2 li{
    list-style: none;
}
.nav2 a{
    text-decoration: none;
}
.list{
    display: flex;
    gap: 32px;
}
.li-1{
    color: rgba(254, 163, 1, 1);
}
.li-2{
    color: rgba(1, 172, 253, 1);
}
.li-3{
    color: rgba(5, 212, 223, 1);
}
.li-4{
    color: rgba(93, 88, 239, 1);
}
.btn-primary{
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 60.5px;
    border: none;
}
.navbar{
    display: flex;
    gap: 186px;
    max-width: 1160px;
    margin: 20px 140px;
    align-items: center;
    justify-content: center;
}

/* Shared style */
.margin-top{
    margin-top: 20px;
}
/* banner-styles */
.banner{
    margin-left: 140px;
    margin-right: 140px;
    max-width: 1158px;
    display: flex;
    gap: 50px;

}
.banner-container{
    padding-top: 122px;
}
.banner-clr1{
    color: rgba(254, 163, 1, 1);
}
.banner-clr2{
    color: rgba(1, 172, 253, 1);
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner-text{
    font-size: 1.25rem;
    color: rgba(17, 17, 17, 1);
    margin-top: 24px;
}
.banner-btn{
    background-color: rgba(17, 17, 17, 1);
    color: white;
    border-radius: 12px;
    padding: 10px 47px;
    border: none;
   
}
.banner-image{
    max-width: 100%;
}

/* curriculum styles */
.curriculum{
    background-image: url('../assets/bg.png');
    margin-left: auto;
    margin-right: auto;
    max-width: 1158px;
    width: 100%;

}
.curri-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 60px;
    margin-left: 489.7px;
    margin-right: 489.7px;
    margin-bottom: 80px;
}
.curri-cards{
    display: flex;
    margin-top: 80px;
    gap: 28px;
    width: 100%;
    
}
.card1{
    background-color: rgba(222, 245, 255, 1);
    border-radius: 19px;
    width: 100%;
    
}
.card2{
    background-color: rgba(255, 244, 220, 1);
    border-radius: 19px;
    width: 100%;
}
    

.card3{
    border-radius: 19px;
    background-color: rgba(242, 232, 255, 1);
    width: 100%;
    
}
.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 32px;
}
.card-text{
    text-align: center;
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 1);
    padding-left: 40px;
    padding-right: 40px;
}
.card-image{
    padding-left: 115px;
    padding-top: 52px;
}
.card-read1{
    color: rgba(100, 200, 255, 1);
    text-align: center;
    margin-bottom: 58px;
    margin-top: 38px;
}
.card-read2{
    color: rgba(240, 170, 0, 1);
    text-align: center;
    margin-bottom: 58px;
    margin-top: 38px;
}
.card-read3{
    color:rgba(135, 0, 255, 1);
    text-align: center;
    margin-bottom: 58px;
    margin-top: 38px;
}
.arrow-btns  img{
    max-width: 60px;
    max-height: 60px;
   
}
.arrow-btns{
    margin-top: 80px;
    margin-left: 550px;
    
}
.arrow-btns:hover{
    background-color: blue;
}

@media screen and (max-width: 576px){
    .nav-title, .nav2, .btn-primary{
        display: none;
    }
    .navbar{
        background-image: url(../assets/bars-solid.svg);
        background-repeat: no-repeat;
        background-position: top left;
        border-bottom: 1px solid #FEA301;
    }
    .banner{
        flex-direction: column-reverse;
        max-width: 357px;
    }
    .banner-title{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 20px;
    }
    .banner-text{
        font-size: 14px;
        font-weight: normal;
        text-align: center;
    }
    .banner-btn{
        padding: 6px 24px;
        align-items: center;
        margin-left: 30px;
    }
    .curri-cards{
        flex-direction: column;
        max-width: 100%;
    }
    
    
    
}